{% extends 'catalog/base.html' %}
{% block content %}
    <div class="col-12 mb-5">


    </div>
    {% for object in product %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    {% load mediapath %}
                    <center/>
                    <div class="card card-cover h-50 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                         style="background-color: #d4edda4;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h3 class="card-text"> {{ object.name|title|truncatechars:100 }} </h3>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <img src="{% mediapath object.image %}" width="100%" height="170" alt="Иллюстрация"
                                         class="rounded-circle border border-white">
                                </li>
                        </div>
                        <div class="button_two">
                            <<button class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
                                <a href="{% url 'catalog:catalog' object.pk %}" class="text-black">Информация</a>
                            </button>
                            <button class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
                                <a href="{% url 'catalog:contacts' %}" class="text-black">Заказать</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}